@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --clr-success: #2ecc71;
  --clr-error: #e74c3c;
  --clr-text: #777;
  --clr-dark-text: #1c2042;
  --clr-white:#f9fafb;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color:blue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--clr-dark-text);
}
.container{
  background-color: var(--clr-white);
  box-shadow: 0 0 5px var(--clr-text);
  min-width: 25rem;
  width: 40rem;
  border-radius: 0.5rem;
}
h2{
  text-align: center;
  margin: 1rem 2rem 0;
  font-size: 3rem;
}
.form{
  padding: 3rem 4rem;
}
.form-control{
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  position:relative;
}
.form-control label{
  color: var(--clr-text);
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.form-control input{
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-text);
  font-size:1.8rem;
}
.form-control input:focus {
  outline: 0;
  border-color: var(--clr-dark-text); 
}
.form-control.error input{
  border-color: var(--clr-error);
}
.form-control.success input{
  border-color: var(--clr-success);
}
.form-control small{
  color: var(--clr-error);
  font-size: 1.4rem;
  position: absolute;
  bottom: -0.5rem;
  left: 0.5rem;
  visibility: hidden;
}
.form-control.error small{
  visibility: visible;
}
.btn-submit{
  cursor: pointer;
  background-color: var(--clr-dark-text);
  color: var(--clr-white);
  border: 2px solid var(--clr-dark-text);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}
span{
  color: red;
}

i{
  cursor: pointer;
  position: relative;
  left: 28rem;
  bottom: 3rem;
}
i:hover{
  color: var(--clr-text);
}
.count span{
  position: relative;
  color: var(--clr-text);
  font-size: 1.5rem;
  left: 27rem;
  bottom: 3rem;
}
.note{
  color: red;
  font-size: 1.4rem;
  padding: 2rem;
  position: relative;
  bottom: 2rem;
  left: 2rem;
}
.form-control textarea{
  resize: none;
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-text);
  font-size:1.4rem;
}
.form-control textarea:focus{
  outline: 0;
  border-color: var(--clr-dark-text);
}

